* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3A6F34;
    text-align: left;
    color: #9BD496;
    font-size: 20px;
}

/* HEADER STYLES START */
header {
    padding: 20px;
    color: #9CD496;
    z-index: 10;
    position: static;
    width: 100%;
    height: 80px;
    background-color: #994889;
}

header a {
    text-decoration: none;
}

header h1 {
    display: inline-block;
}

header a:hover {
    color: mediumpurple;
}

header nav {
    float: right;
    width: 30%;
    text-align: center;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav a{
    color: #9BD496;
}
/* HEADER STYLES END */
/* SITE CONTENT STYLES START */

.site-content {
    top: 20px;
    position: relative;
    width: 100%;
}

.site-content h2 {
    padding-left: 10px;
    color: #4F2345;
}

.site-content div {
    padding: 20px 50px;
}
/* SITE CONTENT STYLES END */
/* TABLE STYLES START */
th {
    background-color: #994889;
}

td, th {
    text-align: center;
    border: solid;
    border-width: 1px;
}
/*TABLE STYLES END */

.learn-more {
    font-size: 15px;
    color: blue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #994889;
}

footer p {
    margin: 40px;
    text-align: center;
}